BasedOnStyle: Google
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
CommentPragmas: '^ IWYU:'
SortIncludes: false
SortUsingDeclarations: false
