BasedOnStyle: Google
BinPackParameters: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
CommentPragmas: '^ IWYU:'
DerivePointerAlignment: false
SortIncludes: false
SortUsingDeclarations: false
